<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%TAB_TITLE%%</title>
</head>
<body class="%%BODY_CLASS%%">
  <div class="sticky-top">
    <nav class="navbar navbar-dark navbar-expand-md">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">NodeJS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end surface" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">NodeJS</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" id="frontpage" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="javascript-page" href="/docs/javascript">JavaScript</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nodejs-page" href="/docs/nodejs">NodeJS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="express-page" href="/docs/express">Express</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <div class="background pt-2"></div>
    </div>
    <div class="site-wrapper container">
    <div class="row gx-2 flex-nowrap">
    